{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/standard"
  ],
  "rules": {
    "no-irregular-whitespace": 0
  },
  "env": {
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
